.navbar {
  width:100%;
  height: 50px;
  background-color: black;
  margin-bottom: 15px;
}
.NaviFixed {
  margin-top: 50px;
}
.ui.main.container {
  margin-top:3em;
}
.employersMainDiv {
  padding: 1rem;
  padding-bottom: 30px;
  outline: none;
  box-shadow:1px 1px 6px 2px grey;
  box-sizing: border-box;
}

.flowItems{
  width: 50px;
  height: 50px;
}
.roleAddDivTheme {
  border:1px solid #d9d9d9;
  box-sizing: border-box;
  padding: 15px;
  background: #f9f9f9;
  box-shadow: inset 0px 0px 10px 1px #eaeaea;
  border-radius: 5px;
}
.mainListDiv{
  background-color:rgb(214 214 214);
  box-shadow: 1px 1px 5px 3px #cacaca;
  padding:20px;
  max-width: 90%;
  width: 100%;
  text-align: center;
  box-sizing:border-box;
  color:#7e7e7e;
  display:inline-block;
}
.fontMonospace {
  font-family: monospace;
}
.menuTextSize {
  font-size:15px;
}
.ListClass {
  display: inline-block;
  margin: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  border:1px solid rgb(231, 231, 231);
  background-color: rgb(231, 231, 231);
  padding: 10px;
}
.mobileListMainClass {
  align-items: center;
}
.ppuploaddiv {
  display: none;
  color:white;
}
.editppdiv:hover + .ppuploaddiv {
  display:block;
}
.titleFont {
  font-weight: bold;
  font-size: 18px;
  color:#2185d0;
}
.normalFont{
  color:black;
  font-size: 18px;
  font-weight: bold;
}
.cvTitleFont{
  font-size: 17px;
  font-weight: bold;
  color:rgb(72, 72, 184);
}
.cvBlackFont{
  font-size: 15px;
  font-weight: bold;
  color:rgb(0, 0, 0);
}
.cvFullName {
  font-size: 20px;
  font-weight:bold;
  color: black;
  display: inline-block;
}
.cvSchoolsListClass {
  margin-top: 10px;
  display: inline-block;
}
.marginLeft15 {
  margin-left: 15px;
}
.cvSchoolsFont {
  font-size: 16px;
  font-weight: bold;
}
.marginRight5 {
  margin-right: 5px;
}
.marginRight15 {
  margin-right: 15px;
}
.cvSchoolsFontSchoolName{
  font-size: 16px;
  font-weight: bold;
}
.cvSchoolsFontDepartment{
  font-size: 16px;
  font-weight: bold;
}
.cvSchoolsFontDate{
  font-size: 13px;
  font-family: monospace;
  color:gray;
}
.cvDetailNameFont{
  font-size: 15px;
  font-weight: bold;
  color:rgb(72, 72, 184);
  margin-top: 2px;
}
.userExperiencesJobRole {
  color:grey;
  font-size: 14px;
  font-weight: bold;
}
.userProfileEditCSS {
  position: absolute;
  right: 15px;
  font-size: 14px;
  color:grey;
  display: inline;
  cursor:pointer;
}
.userProfileMiniCSS {
  font-size: 14px;
  color:grey;
  display: inline;
  cursor: pointer;
  
}
.userExperiencesDateFont {
  font-size: 13px;
  font-family: monospace;
  color:gray;
  font-weight: normal;
}

.photoTopDiv{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:70px;
  background: rgb(174,238,237);
  background: -moz-radial-gradient(circle, rgba(174,238,237,1) 0%, rgba(148,187,233,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(174,238,237,1) 0%, rgba(148,187,233,1) 100%);
  background: radial-gradient(circle, rgba(174,238,237,1) 0%, rgba(148,187,233,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aeeeed",endColorstr="#94bbe9",GradientType=1);
  background: rgb(2,0,36);
background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00d4ff",GradientType=1);
}
.employerInfoFontTitle {
  font-size: 15px;
  font-weight: bold;
  color:rgb(72, 72, 184);
  
}
.employerInfoFont {
  font-size: 15px;
  font-weight: bold;
  color:rgb(0, 0, 0);
  
}